<h1>List of all movies</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

<% @list_of_movies.each do |a_thing| %>
  <tr>
    <td><%= a_thing.id %></td>
    <td>
      <img src="<%= a_thing.image %>">
      </td>
    <td><%= a_thing.title %></td>
    <td><%= a_thing.year %></td>
    <td>
      <% d = Director.where({ :id => a_thing.director_id }).at(0) %>
      <%= d.name %>
    </td>
    <td>
      <a href="/movies/<%= a_thing.id %>">
        Show details
      </a>
    </td>
  </tr>
  
<% end %>
</table>
